body {
    background-color: gray;
}
.titulos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;
}
.bold {
    font-weight: bold;
}
.center {
    display: flex;
    justify-content: center;
}
.contenedor {
    width: 500px;
    border: 2px black solid;
}
#imagen {
    width: 300px;
}