.carousel-caption {
    background-color: blanchedalmond;
    color: black;
}

.contenedor {
    padding-left: 0px;
    background-color: black;
    border: white solid;
}
.formulario {
    color: white;
}

